.navbar {
  overflow: hidden;
  background-color:#e5e370;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar a {
  float: left;
  font-size: 20px;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px; 
  border: none;
  outline: none;
  color:black;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
#bruh{
color:black;
background-color:#8cb8ff;
}


h1{
color:blue;
background-color:#d6cbd8;
}
h2{
color:blue;
background-color:#d6cbd8;
}
h3{
	background-color:rgba(214, 203, 216, .55);
opacity:0.95;
}
body{ 
font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#boi{
background-color:rgba(214, 203, 216, .55);
opacity:0.99;
}
.boi{
  border:3px solid #000000;
  width:235;
  height:160;
  }
  #boii{
	  font-size:30;
  }
 p{
 color:black;
 background-color:#8cb8ff;
 }
.Pic{
border:1px solid #000000;
width=500px;
background-color:#8cb8ff;
}
#ALL{
border:3px dashed #000000;
background-color:#8cb8ff;
padding:5px;
}
.manatee{
border:1px solid #000000;
height=500;
}
.tiger{
border:1px solid #000000;
}